.logo {
  width: 8rem;
  height: 8rem;
  margin: 2rem;
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.3s all ease;
}

.logo-text {
  font-size: 3rem;
  font-weight: 300;
}

.logo-text:hover {
  transform: translateX(1rem);
  transition: 0.3s all ease;
}

.logo-text:hover {
  cursor: pointer;
}

.searchbox {
  outline: none;
  border: none;
  padding: 2rem 2rem;
  background-color: #242424;
  border-bottom: 1px solid lightgray;
  font-size: 1.5rem;
}

.basket-ico {
  font-size: 4rem;
  margin-left: 2rem;
  margin-top: auto;
}

.basket-ico:hover {
  cursor: pointer;
}
