#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drawer-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 3rem 3rem 3rem 2rem;
  border-bottom: 1px solid lightgray;
}

.drawer-left-cont {
  display: flex;
}

.drawer-second-row {
  width: 50rem;
  margin-left: 2rem;
}

.drawer-third-row {
  font-weight: 700;
  color: #ef9651;
}

.basket-total-cont {
  text-align: center;
  margin-top: 5rem;
  font-size: 3rem;
}
